
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');
:root{
    --cor-de-fundo:hsl(240, 4%, 9%);
    --verde:#6FFF57;
    --branco:#FFFFFF;
    --BOTAO-ATIVO: #3A375E;
    --BOTAO-INATIVO: rgba(58,55,94,0.5);
    --TEXTO-DE-FUNDO: rgba(58,55,94,0.3);
}
body {
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: "chakra petch", sans-serif;
}

.conteudo-principal {
 display: flex;
 flex-direction: column;
 align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.titulo-principal {
    text-align: left;￼
    
   
    font-size: 18px;
    align-items: center;
    width: 100%;
    border-bottom: 4px solid var(--BOTAO-ATIVO);
    border-left: 2px solid var(--BOTAO-ATIVO);
    border-right: 2px solid var(--BOTAO-ATIVO);
    border-top: none;
}

.botoes:first-child {
    border-radius: 40px 40PX 0 0;
}

.botoes {
    display: block;
}

.botao.ativo {
    background-color: var(--BOTAO-ATIVO);
    border-bottom: 4px solid var(--verde);
}

.abas-textos {
    background-color: var(--TEXTO-DE-FUNDO);
    padding: 40px;
    border-radius: ;
}

.aba-conteudo.botao.ativo {
    display:block
}

.aba-conteudo{
    display: none;
}

.aba-conteudo-titulo-principal{
    font-size: 28px;
    text-align: center;
    color: var(--verde);
    text-transform: uppercase;
}

.aba-conteudo-titulo-secundario{
    text-align: center;
}

@media screen and (min-width: 768px) {
    
    
    .botoes{
        display: flex;
    }
}
.botoes:last-child {
    border-radius: 0 40px 0 0;
}